<form [formGroup]="loginForm" (ngSubmit)="doLogin($event)">
    <input formControlName="username" type="text" placeholder="Your username">
    <div *ngIf="((loginFormSubmitAttempted || loginForm.controls.username.touched || !loginForm.controls.username.pristine) && !loginForm.controls.username.valid)">
      <p *ngIf="loginForm.controls.username.errors.required">
        Username is verplicht
      </p>
    </div>
    <input formControlName="password" type="password" placeholder="Your password">
    <div *ngIf="((loginFormSubmitAttempted || loginForm.controls.password.touched || !loginForm.controls.password.pristine) && !loginForm.controls.password.valid)">
      <p *ngIf="loginForm.controls.password.errors.required">
        paswoord is verplicht
      </p>
    </div>
    <p *ngIf="(responseCode === 400)">
      Uw login gegevens zijn niet corect
    </p>
  <button type="submit">Login</button>
  <button type="button" (click)="doGuestLogin()">Login as guest</button>
</form>
